@import './assets/style/flexbox.scss';
@import './assets/style/global.scss';
@import './assets/style/mixins.scss';
@import './assets/style/variables.scss';

header {
    .header-cnt {
        padding: 32px 0;
        .menu-items {
            margin: 0 -16px;
            .menu-item {
                padding: 0 16px;
                p {
                    @include font(10.5px, bold, "CircularStd-Bold");
                    line-height: 13.5px;
                } 
            }
        }
    }
}