@import './variables.scss';
@import './mixins.scss';

.static-color {
    color: $staticColor;
}

.page-title {
    @include font(21px, bold, "CircularStd-Bold");
    color: $mainColor;
    text-align: center;
    padding-bottom: 11px;
}

.page-title-descr {
    padding-top: 14px;
    p {
        @include font(10px, normal, "CircularStd");
        text-align: center;
        line-height: 1.29;
    }
}

.section-title {
    @include font(16px, bold, "CircularStd-Bold");
    color: $mainColor;
}

.bold {
    @include font(10px, bold, "CircularStd-Bold")
}