@import './variables.scss';
@import './mixins.scss';

.static-color {
    color: $staticColor;
}

.section-title {
    @include font(21px, bold, "CircularStd-Bold");
    color: #2a2929;
    text-align: center;
}