@font-face {
    font-family: "CircularStd";
    src: url("./assets/font/CircularStd-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
    
@font-face {
    font-family: "CircularStd-Bold";
    src: url("./assets/font/CircularStd-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
